@media screen and (max-width: 991px) {
    .bar {

        display: inline-block;
    }

    .navbar .menu {
        display: none;
    }

    .banner-content {
        width: 100%;
    }

    .banner-section {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .gallery .g-image {
        width: 45%;
    }

    .services-cards .card {
        width: 45%;
        margin-bottom: 35px;
    }

    .about-section .about {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-img {
        width: 70%;
    }

}

@media screen and (max-width:767px) {

    .gallery .g-image {
        width: 45%;
    }

    .contact-detail .form {
        width: 100%;
    }

    .contact-detail .map {
        width: 100%;
        height: 400px;
    }
    .footer .container > div{
        width: 40%;
     } 
}

@media screen and (max-width:575px){
    .banner-content{
        text-align: center;
    }
    .banner-content h1{
        font-size: 25px;
    }


    .gallery .g-image {
        width: 90%;
    }
    .gallery .container{
        justify-content: center;
    }
    .services-cards .card {
        width: 90%;
        margin-bottom: 35px;
    }
    .testimonial{
        text-align: center;
    }
    .footer .container > div{
        width: 100%;
        text-align: center;
     } 

}
